// div.body is the immediate child of the root React element
.body {
    height: 100vh;
    max-height: 100vh;

    position: relative;

    display: flex;
    flex-grow: 1;
    background: $background;

    // Horizontal scroll should be hidden because of the expanding sidebar
    overflow-x: hidden;
    // Hide vertical scroll on desktops
    @include media(">=desktop") {
        overflow-x: hidden;
    }
}

// Under div.body, there are three elements: the header, the sidebar and
// main - contains the screen container
main {
    position: absolute;
    top: 0;
    left: 0;

    // Takes up the remaining space, shifts to the right if the sidebar is open
    width: calc(100% - #{$drawer-closed-width});
    height: 100%;

    overflow: hidden;

    // Disable padding on mobile phones to better use space
    @include media("<=phone") {
        .screens {
            .screen {
                padding-left: 0;
                padding-bottom: 0;
                padding-right: 0;
            }
        }
    }

}