.body {
    height: 100vh;
    max-height: 100vh;

    position: relative;

    display: flex;
    flex-grow: 1;
    background: $background;

    // Horizontal scroll should be hidden because of the expanding sidebar
    overflow-x: hidden;
    // Hide vertical scroll on desktops
    @include media(">=desktop") {
        overflow-x: hidden;
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% - #{$drawer-closed-width});
    height: 100%;

    overflow: hidden;

    @include media("<=phone") {
        .screens {
            .screen {
                padding-left: 0;
                padding-bottom: 0;
                padding-right: 0;
            }
        }
    }

}