#loading-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    top: 0;
    position: absolute;

    &.loaded {
        opacity: 0;
        display: none;
    }

    .bar {
        opacity: 1;
        transition: .5s ease-in-out;

        z-index: 9000;
    }

    .text {
        margin: 10px auto;

        div {
            padding: 8px;

            font-family: $font-family;
            letter-spacing: .3px;

            text-align: center;

            // text 1
            &:first-of-type {
                font-size: 1.8rem;
                font-variant: all-small-caps;
            }
            // text 2, 3
            &:not(:first-of-type) {
                font-size: 0.95rem;
                padding-top: 0;
            }
            // text 3
            &:last-of-type {
                margin-top: 10px;
                font-size: 0.7rem;
                letter-spacing: .3px;
                cursor: pointer;

                opacity: 0;
                &.visible {
                    animation: fadeIn-slideUp 0.85s $ease-out-quart forwards;
                }
            }
        }
    }
}

#root {
    visibility: hidden;
    opacity: 0;

    &.visible {
        visibility: visible;
        animation: fadeIn 0.4s ease-in-out forwards;
    }
}

// Using animations instead of transitions because of stuff being briefly visible when loading the page
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn-slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}