//////////////////////
// Screen Container
//////////////////////
.screens {
    background: $background;
    width: 100%;
    // Takes the top Material-UI's AppBar into consideration
    margin-top: $appbar-height;

    // Container and screens should take up the whole screen on phones
    @include media("<=phone") {
        height: calc(100% - #{$appbar-height});

        .screen {
            height: 100%;
        }
    }

    .screen {
        // hidden by default
        visibility: hidden;
        display: none;

        &.visible {
            display: flex;
            visibility: visible;
        }

        // On mobile only have top padding
        padding: 30px;
        @include media("<=phone") {
            justify-content: flex-start;
            padding: 15px 0 0 0;
        }

        // Customization of Material-UI's Card element
        &__card {
            width: 100%;
            @include media("<=phone") {
                height: 100%;
                justify-content: flex-start;
            }

            // flex alignment
            display: flex;
        }
    }
}

// Import specific screens
@import "screens/player";
@import "screens/queue";