// Makes the element 100% wide
.fullwidth {
    width: 100%;
}

// display: flex shortcuts
.flex {
    display: flex;

    &.col {
        flex-direction: column;
    }

    &--center {
        justify-content: center;
    }
    &--middle {
        align-items: center;
    }
}

// Common flex shortcut
.flex-c1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}