// Player screen
.player {
    width: 60%;
    max-width: 600px;

    &__title {
        font-family: $font-family;
        font-size: 1.8rem;
        font-weight: 700;

        margin: 15px 0;
    }

    &__track {
        position: relative;

        width: 80%;
        height: 6px;

        display: flex;
        justify-content: center;

        cursor: pointer;
        transform: translateY(0);
        transition: .2s ease-in-out;

        margin: 12px 0;


        #track_progress, #track_full {
            position: absolute;
            height: 8px;
            width: 100%;
        }

        #track_full {
            background: darken(#fff, 10%);
        }

        #track_progress {
            // Progress can be shown by setting width
            //width: 1%;

            left: 0;
            background: $secondary-color;
        }

        &:hover {
            #track_progress, #track_full {
                height: 12px;
                transform: translateY(-2px);
            }
        }

    }

    /*
    &__control {
        margin-top: 15px;

        span {
            margin: 3px;
        }

        span svg {
            cursor: pointer;
            display: inline-block;
            margin: 0 auto;

            width: 3rem;
            height: auto;

            &:hover path {
                fill: lighten($alternate-color, 15%)
            }
        }

        // Custom svg colors
        svg path {
            fill: $alternate-color;
            transition: .1s ease-in-out;
        }
    }
    */
}