//////////////////
// Player Screen
/////////////////
.player {
    width: 80%;
    @include media("<=phone") {
        width: 100%;
    }
    max-width: 800px;

    margin-top: 40px;
    margin-bottom: 40px;

    // Song title
    &__title {
        font-family: $font-family;
        font-size: 1.8rem;
        font-weight: 700;

        text-align: center;
        overflow-wrap: break-word;

        margin: 15px 0 30px 0;
        padding: 5px 0;
    }

    // Song track progress bar
    &__progress {
        position: relative;
        width: 90%;

        // flex alignment
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        margin: 20px 0;

        $scrubber-background: transparentize($dark-color, 0.85);
        $scrubber-background-active: transparentize($dark-color, 0.75);

        // Progress bar
        .track {
            cursor: pointer;
            transform: translateY(0);
            transition: .2s ease-in-out;

            height: 6px;
            width: 100%;

            #track_progress, #track_full {
                position: absolute;
                height: 8px;
                width: 100%;
                border-radius: 2px;

                transition: .2s ease-in-out;
            }

            #track_full {
                background: darken(#fff, 10%);
            }

            #track_progress {
                // Progress can be shown by setting width
                //width: 1%;

                left: 0;
                background: $secondary-color;
            }

            &:hover {
                #track_progress, #track_full {
                    height: 12px;
                    transform: translateY(-2px);
                }
                #track_full {
                    background: darken(#fff, 20%);
                }

                // Scrubber follows the expansion of the track when hovered on
                &+ .time .scrubber {
                    bottom: calc(100% + 16px);

                    #text {
                        background: $scrubber-background-active;
                    }
                    #triangle {
                        border-color: $scrubber-background-active transparent transparent transparent;
                    }
                }
            }
        }

        // Timestamps
        .time {
            margin: 8px 2px;
            font-family: $font-family;
            width: 100%;

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            position: relative;

            // A timestamp that follows your mouse
            .scrubber {
                position: absolute;
                left: 50%;
                pointer-events: none;

                display: flex;
                flex-direction: column;
                align-items: center;

                opacity: 0;
                &.scrubbing {
                    opacity: 1;
                }

                bottom: calc(100% + 14px);
                transition: bottom .2s ease-in-out,
                            opacity .215s ease-in;

                #text {
                    padding: 3px 5px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    background: $scrubber-background;
                }

                #triangle {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: $scrubber-background transparent transparent transparent;
                }

                #text, #triangle {
                    transition: background-color .2s ease-in-out,
                                border-top-color .2s ease-in-out;
                }
            }
        }

    }

    // Buttons, volume bar, ...
    &__control {
        // flex alignment
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        @include media("<=phone") {
            width: 100%;
        }

        $rangeslider-width: 300px;
        $rangeslider-width-mobile: 75%;
        $rangeslider-width-mobile-small: 90%;

        button {
            margin: 2px 8px;
            padding: 10px;

            @include media("<=phone") {
                margin: 2px 6px;
                padding: 8px;
            }
            @include media("<=small-phone") {
                margin: 2px 2px;
                padding: 6px;
            }
        }

        // This is a styling element that forces the following items into a next line
        .next-line {
            width: 100%;
        }

        .volume {
            display: flex;
            justify-content: center;
            align-items: center;

            min-width: $rangeslider-width;
            @include media("<=phone") {
                min-width: $rangeslider-width-mobile;
            }
            @include media("<=small-phone") {
                min-width: $rangeslider-width-mobile-small;
            }

            &-icon {
                margin: 2px 8px;

                path {
                    fill: $rangeslider-handle-color;
                }
            }
        }

        // This contains the volume slider
        .slider-container {
            position: relative;
            break-before: page;
            width: 100%;

            // customized rangeslider from _rangeslider.scss
            .rangeslider {
                $rangeslider-height: 12px;
                $handle-size: 13px;

                width: 100%;
                height: $rangeslider-height;

                z-index: 5;

                // Custom stuff
                &-background {
                    position: absolute;
                    top: 0;

                    width: 100%;
                    height: $rangeslider-height;
                    background: darken($background, 15%);
                    border-radius: 3px;

                    z-index: 3;
                }

                &__handle {
                    height: $handle-size;
                    width: $handle-size;

                    &:focus {
                        outline-color: $secondary-color;
                    }
                }
            }
        }
    }

}