//////////////////
// Player Screen
/////////////////
.queue {
    width: 100%;

    $button-width: 24px;
    $button-margin-right: 4px;
    $field-margin: 15px;

    // Search bar
    &__add {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        // Text field
        .field {
            margin: $field-margin;
            min-width: 350px;
            width: 60%;

            // duplicated on the preview container
            @include media("<=phone") {
                min-width: calc(100% - #{$button-width} - 2 * #{$field-margin} - #{$button-margin-right});
            }
        }

        // Search clear button
        .button--clear {
            cursor: pointer;
            margin-right: $button-margin-right;
            width: $button-width;
        }
    }

    // Search chooser
    &__preview {
        width: 100%;
        position: relative;

        // Preview table container
        .tablecontainer {
            // Makes sure the table is centered with the text box
            width: 60%;
            @include media("<=phone") {
                width: calc(100% - #{$button-width} - 2 * #{$field-margin} - #{$button-margin-right});
            }

            pointer-events: none;

            position: absolute;
            left: 50%;
            // Originally, the TextField bottom margin is 15px, so we go up 15px + 1px to make the table appear directly below
            top: -16px;

            display: flex;
        }

        // The actual table element containing search results
        table {
            position: relative;

            pointer-events: all;
            user-select: none;

            // half of the clear icon + margin, this adjusts the table to be flush with the text input
            left: calc(-50% - #{$button-width} / 2 - #{$button-margin-right} / 2);

            // Color customization (mostly table borders)
            background: darken($background, 2%);
            $border-color: lighten($secondary-color, 10);

            tr {
                border-left-color: $border-color;
                border-right-color: $border-color;

                td, th {
                    border-bottom: none;
                }
            }

            thead {
                border-bottom: 1px solid transparentize(lighten($dark-color, 10), 0.45);
            }
            tbody tr:not(:last-of-type) {
                border-bottom: 1px solid transparentize(lighten($dark-color, 15), 0.8)
            }
        }

        // An overlay which is applied over every search result
        .overlay {
            display: none;
            position: absolute;

            opacity: 0;
            pointer-events: all;

            &.visible {
                display: flex;
                opacity: 1;
            }
            justify-content: center;
            align-items: center;

            // Fixed table row height by Material-UI
            height: 48px;
            width: 100%;
            left: 0;
            cursor: pointer;

            transition: .3s ease-in-out;
            background: transparentize($secondary-color, 0.4);

            .queue-button {
                width: 42%;
                height: 100%;
                pointer-events: all;
                padding: 3px 10px;

                overflow: hidden;

                color: white;
                background: transparentize($secondary-color, 0.45);
                &:hover {
                    background: transparentize($secondary-color, 0.2);
                }
                transition: background-color .2s ease-in-out,
                            width .5s $ease-out-quint,
                            border-color .3s $ease-out-quint;

                border-color: white;
                border-top: none;
                border-bottom: none;
                border-radius: 0;
                border-width: 3px;

                .panel {
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    &:nth-of-type(2) {
                        top: 100%;
                    }

                    transform: translateY(0);
                    transition: .75s $ease-out-quint;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .progress {
                        position: absolute;
                        top: calc(50% - 12px);
                        left: calc(50% - 12px);
                        color: white;
                    }

                    .icon {
                        margin-right: 8px;
                    }
                }
            }

            // The loading spinner is hidden until loading starts
            &.loading .queue-button .panel {
                transform: translateY(-100%);
            }
            &.loaded {
                @keyframes fadeOut {
                    0% { opacity: 1 }
                    100% { opacity: 0 }
                }

                animation-name: fadeOut;
                animation-duration: .3s;
                animation-timing-function: $ease-out-quad;
                animation-delay: .2s;
                animation-fill-mode: forwards;

                .queue-button {
                    width: 110%;
                    border-color: transparent;
                }
            }

        }
    }

    &__button {
        position: relative;
    }
}