/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */

/* Breakpoints */
$breakpoints: im-to-em((
    phone: 768px,
    desktop: 1024px
));

/* Colors */

$background: white;
$primary-color: #f4511e;
$secondary-color: #5b6abf;
$accent-color: #cdcdcd;
$error-color: #b91400;

// magic
//noinspection ALL
:export {
    background: $background;
    primary: $primary-color;
    secondary: $secondary-color;
    accent: $accent-color;
    error: $error-color;
}

/* Typography */

// Body font
$font-size: 1rem;
$body-font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #404040;
$font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$line-height: 1.6;

//noinspection ALL
:export {
    fontFamily: $font-family;
    fontSize: $font-size;
}

/*
Other variables
 */
$drawer-closed-width: 57px;
$drawer-open-width: 190px;


// Headings
$heading-font-color: #404040;
$heading-font-weight: 600;
$heading-font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-line-height: 1.2;

// Mobile heading font size
$h1-mobile: 1.75rem;
$h2-mobile: 1.5rem;
$h3-mobile: 1.25rem;
$h4-mobile: 1.1rem;
$h5-mobile: 1rem;

// Heading font size
$h1: 2.25rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;